@{
    ViewData["Title"] = "About";
    ViewData["BgImage"] = "aboutMe.jpeg";
    ViewData["SlogoBig"] = "About Me";
    ViewData["SlogoSmall"] = "This is what I do.";
}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p style="font-size:20px;margin-bottom:30px;margin-top:45px">Lhflfh ndkjf fksdjfks djk dnsf dnkd jdsknk ksndks djkd dkn nn dnjefh eirqlry iue iuwehe dse huieh djkd dkn nn dnjefh eirqlry iue iuwehe dse djkd dkn nn dnjefh eirqlry iue iuwehe dse eirqlry iue iuwehe dse </p>
                <p style="font-size:20px;margin-bottom:30px">Lhflfh ndkjf fksdjfks djk dnsf dnkd jdsknk ksndks djkd dkn nn dnjefh eirqlry iue iuwehe dse huieh djkd dkn nn dnjefh eirqlry iue iuwehe dse djkd dkn nn dnjefh eirqlry iue iuwehe dse eirqlry iue iuwehe dse </p>
                <p style="font-size:20px;margin-bottom:45px">Lhflfh ndkjf fksdjfks djk dnsf dnkd jdsknk ksndks djkd dkn nn dnjefh eirqlry iue iuwehe dse huieh djkd dkn nn dnjefh eirqlry iue iuwehe dse djkd dkn nn dnjefh eirqlry iue iuwehe dse eirqlry iue iuwehe dse </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>