@{
    ViewData["Title"] = "Posts";
    ViewData["BgImage"] = "posts.jpg";
    ViewData["SlogoBig"] = "All posts";
    ViewData["SlogoSmall"] = "Lessons and experiences learned on the road.";
}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <ul class="list-group" style="margin-top:45px;margin-bottom:60px;line-height:50px;font-size:20px;">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Cras justo odio</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Dapibus ac facilisis in</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Cras justo odio</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Dapibus ac facilisis in</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Cras justo odio</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Dapibus ac facilisis in</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Cras justo odio</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Dapibus ac facilisis in</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Cras justo odio</a>
                        <span>4/12/2020</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="samplePost.html">Dapibus ac facilisis in</a>
                        <span>4/12/2020</span>
                    </li>

                </ul>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>