@{
    ViewData["Title"] = "Posts";
    ViewData["BgImage"] = "posts.jpg";
    ViewData["SlogoBig"] = "All posts";
    ViewData["SlogoSmall"] = "Lessons and experiences learned on the road.";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="sample-post" style="margin-top:45px;margin-bottom:50px;font-size:20px;">
                <h1>@ViewBag.titleBlog </h1>
                <p>@ViewBag.context</p>
                @*<p>Today, there are too many people who believe that literature is simply not important or underestimate its abilities to stand the test of time and give us great knowledge. There is a stigma in society that implies one who is more inclined toward science and math will somehow be more successful in life, and that one who is more passionate toward literature and other art forms will be destined to a life of low-paying jobs and unsatisfying careers. </p>
                <h3>1. Expanding horizons</h3>
                <p>First and foremost, literature opens our eyes and makes us see more than just what the front door shows. It helps us realize the wide world outside, surrounding us. With this, we begin to learn, ask questions, and build our intuitions and instincts. We expand our minds.</p>
                <h3>2. Building critical thinking skills</h3>
                <p>Many of us learn what critical thinking is in our language arts classes. When we read, we learn to look between the lines. We are taught to find symbols, make connections, find themes, learn about characters. Reading expands these skills, and we begin to look at a sentence with a larger sense of detail and depth and realize the importance of hidden meanings so that we may come to a conclusion.</p>
                <h3>3. A leap into the past</h3>
                <p>History and literature are entwined with each other. History is not just about power struggles, wars, names, and dates. It is about people who are products of their time, with their own lives. Today the world is nothing like it was in the 15th century; people have changed largely. Without literature, we would not know about our past, our families, the people who came before and walked on the same ground as us.</p>
                <h3>4. Appreciation for other cultures and beliefs</h3>
                <p>Reading about history, anthropology, or religious studies provides a method of learning about cultures and beliefs other than our own. It allows you to understand and experience these other systems of living and other worlds. We get a view of the inside looking out, a personal view and insight into the minds and reasoning of someone else. We can learn, understand, and appreciate it.</p>
                <h3>5. Better writing skills</h3>
                <p>When you open a book, when your eyes read the words and you take in its contents, do you ask yourself: How did this person imagine and write this? Well, many of those authors, poets, or playwrights used literature to expand their writing.</p>*@
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
