@{
    ViewData["Title"] = "Home";
    ViewData["BgImage"] = "home.jpg";
    ViewData["SlogoBig"] = "Start Now";
    ViewData["SlogoSmall"] = "Everything is possible.";
}




<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <a href="samplePost.html"><h1 class="card-title">Card title title title title title title title</h1></a>
                    <p class="card-text">Some example text. Some example text.Some example text.Some example text.Some example text.Some example text.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="samplePost.html"> <h1 class="card-title">Card Card title title title title title title</h1></a>
                    <p class="card-text">Some example text. Some example text.Some example text.Some example text.Some example text.Some example text.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="samplePost.html"><h1 class="card-title">Card title title title title titl</h1></a>
                    <p class="card-text">Some example text. Some example text.Some example text.Some example text.Some example text.Some example text.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="samplePost.html"><h1 class="card-title">Card title title title title titl</h1></a>
                    <p class="card-text">Some example text. Some example text.Some example text.Some example text.Some example text.Some example text.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a class="float-right" href="/Posts">MORE POSTS →</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
